{#
/**
 * @file
 * Default theme implementation for displaying a mail.
 *
 * Available variables:
 * - account: The full mail information.
 *
 * @ingroup themeable
 */
#}
<h2>{{ mail.subject }}</h2>
<div class="mail-body">
  <iframe src="{{ mail_body_url }}" width="100%" height="800px" style="background-color: #FFFFFF;"></iframe>
</div>
